html, body {
    margin: 0;
    padding: 0;
}

hp-content {
    display: block;
    background-color: #f00;
    width: 100vw;
    height: 100vh;
}

hp-presentation {
    display: block;
    background-color: #fff;

    width: 80vmin;
    height: 80vmin;
}

hp-slide {
    display: block;
    background-color: #0f0;

    width: 80%;
    height: 80%;
    margin: 10%;
}

